{% extends '../index_master.html' %}

{% block content %}

    <!-- page content -->
    <div class="right_col" role="main">
         
        <h1> Listados de Moviles</h1>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Provedor</th>
                <th scope="col">Nombre de Chofer</th>
                <th scope="col">Rut de Chofer</th>
                <th scope="col">Telefono de Chofer</th>
                <th scope="col">Tipo de Licencia</th>
                <th scope="col">Nombre de Peoneta</th>
                <th scope="col">Rut de Peoneta</th>
                <th scope="col">Telefono de Peoneta</th>
                <th scope="col">Tipo de Movil</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        <!-- /page content -->
{% endblock %}